.vs/

# ignore these types

*.cache
*.log
*.suo
*.sdf
*.opensdf
*.pdb
*.user
*.tmp_proj
*.bsc
*.ilk
*.VC.db
*.VC.opendb

# intel compiler generated
*_ispc*.h

#ignore these folders

Debug/
Release/
x64/
bin/
obj/
ipch/
	
*.DS_Store

*.pipl
Plugins/
*.dds
*.aps
*.zip
*.tmp

# Claude Files
.claude/
CLAUDE.md

# Photoshop SDK
PhotoshopSDK/

# Paint.NET Plugin
Paint.NET-Tex-Plugin-master/
